Django
django-environ
django-cors-headers
django-rest-swagger
djangorestframework
djangorestframework-jwt
django-cors-headers
django-extensions
docker-compose
ipython
ipdb
requests
psycopg2-binary
gunicorn
gevent
coverage
